<!DOCTYPE html>
<html>
<head>
	<meta charset='utf8'/>
	<title>Hello !</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
</head>
<body>

<img class="logo" src="{{ asset('images/pp.png') }}" alt=''/>

<h1 class='titre'>Pussy Patrol</h1>


<p>Le même site mais en Symphony 2. Ca gère !!!</p>



</body>
</html>