# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

Symfony/web/bundles/
Symfony/app/bootstrap*
Symfony/app/cache/*
Symfony/app/logs/*
Symfony/vendor/
Symfony/app/config/parameters.yml
Symfony/composer.lock
