{% extends "RestoMainBundle::mainLayout.html.twig" %}

{% block contenu %}

<!-- ACCEUIL -->
<div class="hero-unit">
  <h1>Bienvenue sur Fast Lunch!</h1>
  <hr>
  <p>Grâce à Fast Lunch, vous pouvez commander votre déjeuner parmi différents thèmes, et différents restaurants !<br/>Restez tranquille au travail, on s'occupe de vous apporter à manger sur votre lieu de travail, à domicile, ou à un comptoir proche !<br/>Choisissez un thème, un restaurant près de chez vous et commandez vos plats préférés dès maintenant !</p>
  <a href="{{ path('resto_theme') }}" class="btn btn-primary btn-large">Voir tous nos thèmes »</a>
</div>	

{% endblock %}