{% extends "RestoMainBundle::layout.html.twig" %}

{% block contenu %}

<!-- ACCEUIL -->
<div class="hero-unit">
  <h1>Bienvenue sur Fast Lunch!</h1>
  <hr>
  <p>Choisissez un thème, un restaurant près de chez vous et commandez vos plats préférés!</p>
  <a href="{{ path('resto_theme') }}" class="btn btn-primary btn-large">Voir tous nos thèmes »</a>
</div>	

{% endblock %}