{% extends "RestoMainBundle::mainLayout.html.twig" %}

{% block contenu %}

<!-- RESTO -->
<div class="hero-unit">
	<h1>{{ resto.nom }}</h1>
	<hr>
	<p>{{ resto.description }}</p>
</div>

<div class="row-fluid">
	<div class="span12">
	{% block lesplats %}
	{% endblock %}
	</div>
</div>

{% endblock %}