theme<br/>Affichage du thème id : {{ themeid }}<br/>Doit afficher la liste des restaurants du thème, avec leur noms, accompagnés du nombre de plats de chacun.

{% extends RestoMainBundle::layout.html.twig %}

{% block contenu %}

{% for resto in restos %}
	<a href="{{ path('resto_resto',{'restoid':resto.id}) }}">{{ resto.nom }}</a>
{% endfor %}

{% endblock %}