

{% extends "RestoMainBundle::layout.html.twig" %}

{% block contenu %}

{% for restaurant in restos %}
	<a href="{{ path('resto_resto',{'restoid':restaurant.id}) }}">{{ restaurant.nom }}</a>
{% endfor %}

{% endblock %}