{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}


<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
	<h2 class="form-signin-heading">Connexion</h2>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<input type="text" value="{{ last_username }}" id="username" class="input-block-level" placeholder="Nom d'utilisateur" name="_username" required="required"/>

	<input type="password" id="password" class="input-block-level" placeholder="Mot de passe" name="_password" required="required"/>

	<label type="checkbox" class="checkbox">
	  <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> Se souvenir de moi
	</label>
	<button class="btn btn-large btn-primary" type="submit" id="_submit" name="_submit">Connexion</button>
</form>
{% endblock fos_user_content %}