.page
{
	background-image: url('images/gradient.png');
	background-repeat: repeat-x;
}
.header
{
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.header img
{
	max-height: 200px;
	max-width: 100%;
}
.theme
{
	text-align: center;
	min-width: 200px;
	padding: 4px;
}
.row-fluid [class*="span"]
{
	margin-left: 0px;
}
.restaurant
{
	text-align: center;
	min-width: 200px;
	padding: 4px;
}
.plats
{
	text-align: center;
}

div.span3.plats {
	width: 23%;
	margin-right: 2%;
}

div.thumbnail.plat {
	overflow: hidden;
	height: inherit;
	min-height: 340px;
	width: 100%;
	padding-top: 15px;
	margin-bottom: 15px;
}


div .span3 {
	height: inherit;
	width: inherit;
}



@media(max-width: 1500px) {
	div.span3.plats {
		width: 31%;
	}
}

@media(max-width: 1000px) {
	div.span3.plats {
		width: 48%;
	}
}

@media(max-width: 800px) {
	div.span3.plats {
		width: 100%;
	}
}
