.page
{
	background-image: url('images/gradient.png');
	background-repeat: repeat-x;
}
.header
{
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.header img
{
	max-height: 200px;
	max-width: 100%;
}
.theme
{
	text-align: center;
	min-width: 200px;
	padding: 4px;
}
.row-fluid [class*="span"]
{
	margin-left: 0px;
}
.restaurant
{
	text-align: center;
	min-width: 200px;
	padding: 4px;
}
.plats
{
	text-align: center;
}

div.span3.plats {
	width: 23%;
	margin-right: 2%;
}

div.thumbnail.plat {
	overflow: hidden;
	height: inherit;
	min-height: 390px;
	width: 100%;
	padding-top: 15px;
	margin-bottom: 15px;
	position: relative;
}

div.caption {
	bottom: 0 !important;
	bottom: -1px;
	vertical-align: bottom;
	position: absolute;
	width: 92%;
	margin: 0 auto;
}

.plat > img {
	border-radius: 4px;
	box-shadow: 0 0 6px lightgrey;
}


div .span3 {
	height: inherit;
	width: inherit;
}



@media(max-width: 1500px) {
	div.span3.plats {
		width: 31%;
	}
}

@media(max-width: 1000px) {
	div.span3.plats {
		width: 48%;
	}
}

@media(max-width: 800px) {
	div.span3.plats {
		width: 100%;
	}
}

.form-signin 
{
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading, .form-signin .checkbox 
{
	margin-bottom: 10px;
}
.form-signin input[type="email"], .form-signin input[type="password"] 
{
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}