.page
{
	background-image: url('images/gradient.png');
	background-repeat: repeat-x;
}
.header
{
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.header img
{
	max-height: 200px;
	max-width: 100%;
}