{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<!-- FIL D'ARIANNE -->
<div class="row-fluid arianne">
	<div class="span12">
	  <a href="{{ path('resto_homepage') }}">Accueil</a> > Inscription
	</div>
</div>

<div class="form-signin">
	<h2 class="form-signin-heading">Inscription</h2>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}
